*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'SansSerif';
    color: aliceblue;
    background-image: url(https://images6.alphacoders.com/846/846724.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.global_container {
  width: 100%;
  margin:0 auto;  
  justify-content: center;
  align-items: center;
}

.tittle{
    width: 100%;
    min-width: 480px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tittle h1{
    font-size: 9vw;
    color: rgba(240, 248, 255, 0.57); /*color aliceblue*/
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    animation: move_title 3s linear infinite;
}

@keyframes move_title{
    50% {
        transform: translateY(5);
    }
    50% {
        transform: translateY(-5%);
    }
}

.banner_tittle{
    width: 25%;
    margin: auto;
    max-width: 1200px;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tittle h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.banner_tittle a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    font-size: 3vw;
    padding: 1vw 2vw;
    color: rgba(250, 253, 255, 0.747);
    border: 2px solid rgba(250, 253, 255, 0.747);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    animation: move_banner_a 2s ease-in-out infinite;
}

@keyframes move_banner_a{
    0% {
        transform: scale(1);
      }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.bg_animate h1{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto a{
    color: aliceblue;
    align-items: end;
    margin-left: 2vw;
    margin-bottom: 2vw;
    font-size: 1.5vw;
    position: fixed;
    bottom: 0;
    width: 10%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/*SECOND*/

.visualizer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizer img{
    width: 30%;
    height: auto;
    }

    /*circulos*/

    .container {
        position: relative;
        top: -4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .container img{
        width: 3.1vw;
      }
      
      .circles {
        display: flex;
        justify-content: center;
      }

      .circle {
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        background-color: #0f0;
        margin: 1vw;
        align-self: center;
      }

      /*items*/
      
      .container_2 {
        display: flex;
        justify-content: center;
      }
      
      .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;
      }
      
      .item {
        position: relative;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      .item:hover .overlay {
        opacity: 1;
      }
      
      button {
        padding: 10px 20px;
        background-color: #e0e0e0;
        border: none;
        border-radius: 4px;
        color: #333;
        font-weight: bold;
        cursor: pointer;
      }

      .item img{
        width: 9vw;
        height: auto;
        margin-top: -25%;
      }

      /*RESPONSIVIDAD*/

      @media screen and (max-width: 900px){
        .global_container{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .tittle h1 {
          font-size: 18vw;
        }
      
        .tittle h2 {
          font-size: 5vw;
        }

        .banner_tittle a {
          font-size: 14vw;
        }
      
        .contacto a {
          font-size: 6vw;
        }
      
        /*SECOND RESPONSIVE*/

        .visualizer img{
          width: 100vw;
          height: auto;
        }

        .circles{
          width: 20vw;
          height: auto;
        }

        .circle {
          width: 10vw;
          height: 10vw;
        }

        .container img{
          width: 7vw;
          height: auto;
        }

        .container_2 {
          display: grid;
          grid-template-columns: repeat(9, 1fr);
          grid-gap: 2vw;
        }

        /*ITEM RESPONSIVE*/
        
        .item {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .item:nth-child(10) {
          grid-column: 2 / 3;
          visibility: hidden;
        }
      }